@model DoAnCNPM.Models.User

@{
    ViewBag.Title = "Register";
    Layout = null;
}
<link rel="stylesheet" href="~/assets/css/login_registration.css">
@using (Html.BeginForm("AuthenRegister", "LoginRegistration", FormMethod.Post)) //Truyền vào hàm xử lý Login
{
    <div class="header_external">
        <a href="@Url.Action("Index", "Home")">
            <img class="logo_header" src="/assets/img/logo_header.png" alt="">
        </a>
        <img src="/assets/img/phone-solid.svg" class="icon_phone"></img>
        <span class="hotline_text">Hotline: </span>
        <span class="contact_number">0909300746</span>
    </div>

    <div class="background_external">
        <div class="overview_background_external">
            <img src="/assets/img/logo.png" class="logo_external" alt="">
            <div class="KingShoes_text">KingShoes.vn</div>
            <div class="slogan">“Vương Quốc Giày - Chất Lượng Đẳng Cấp”</div>
        </div>
        <div class="Register_form" id="register_form" style="display: block;">
            <div style="color: #222; font-size: 1.25rem; max-width: 8.5rem; margin: 20px;">Đăng ký</div>




            @Html.DisplayNameFor(m => m.Username)
            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "rg_username_input input-with-error" } })
            @Html.ValidationMessageFor(model => model.Username)
            @if (ViewBag.Errorname != null)
            {
                <h5>@ViewBag.ErrorUsername</h5>
            }



            @Html.DisplayNameFor(m => m.Userpassword)
            @Html.EditorFor(m => m.Userpassword, new { htmlAttributes = new { @class = "rg_password_input input-with-error" } })
            @Html.ValidationMessageFor(m => m.Userpassword)
            @if (ViewBag.Errorpassword != null)
            {
                <h5>@ViewBag.ErrorUserpassword</h5>
            }



            @Html.DisplayNameFor(m => m.Userpassword)
            @Html.EditorFor(m => m.ReUserpassword, new { htmlAttributes = new { @class = "rg_password_input input-with-error" } })
            @Html.ValidationMessageFor(m => m.ReUserpassword)



            @Html.DisplayNameFor(m => m.Email)
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "rg_password_input input-with-error" } })
            @Html.ValidationMessageFor(m => m.Email)



            @Html.DisplayNameFor(m => m.UserRole)
            @Html.EditorFor(m => m.UserRole, new { htmlAttributes = new { @class = "rg_password_input input-with-error" } })
            @Html.ValidationMessageFor(m => m.UserRole)





            <input type="submit" value="Đăng Ký" class="Register_button" />

            <div class="have_account_div">
                <h3 class="have_account">Bạn đã có tài khoản ?</h3>
            </div>

        </div>
    </div>
}




    <script src="~/assets/js/login_registration.js"></script>

