<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/icon/fontawesome-free-6.5.2-web/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/header_footer.css">
    <link rel="stylesheet" href="~/assets/css/home.css">
    <link rel="stylesheet" href="~/assets/css/product.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/product_detail.css">
    <link rel="stylesheet" href="~/assets/css/cart.css">
    <title>KingShoes</title>
</head>
<body>
    <header>
        <div class="top-header">
            @if (Session["Username"] != null)
            {

                <a class="register" href="@Url.Action("Logout", "LoginRegistration")">
                    ĐĂNG XUẤT
                </a>

                <p class="login">XIN CHÀO @Session["Username"] !</p>

            }
            else
            {
                <a class="register" href="@Url.Action("Register", "LoginRegistration")">
                    ĐĂNG KÝ
                </a>

                <a class="login" href="@Url.Action("Login", "LoginRegistration")">
                    ĐĂNG NHẬP
                </a>
            }

        </div>
        <nav>
            <div class="nav-bar">
                <div class="logo-container">
                    <a class="logo" href="@Url.Action("Index", "Home")">
                        <img src="~/assets/img/header-logo.png" alt="KingShoes Logo">
                    </a>
                </div>

                <div class="menu">
                    <ul class="nav-links">
                        <li class="nav-li">
                            <a class="nav-item" href="@Url.Action("Introduce", "Home")">
                                GIỚI THIỆU
                            </a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-item" href="@Url.Action("Index", "NikeProduct")">
                                NIKE
                            </a>


                        </li>
                        <li class="nav-li">
                            <a class="nav-item" href="@Url.Action("Index", "AdidasProduct")">
                                ADIDAS
                            </a>


                        </li>
                        <li class="nav-li">
                            <a class="nav-item" href="@Url.Action("Index", "JordanProduct")">
                                JORDAN
                            </a>



                        </li>
                        <li class="nav-li">
                            <a class="nav-item" href="@Url.Action("Index", "YeezyProduct")">
                                YEEZY
                            </a>


                        </li>
                    </ul>
                </div>

                <div class="search-box">
                    <form action="@Url.Action("Search", "AdidasProduct")" method="get" id="search-box">
                        <input type="text" id="search-text" name="query" class="search-input" placeholder="Nhập từ cần tìm...">
                        <button id="search-btn">
                            <i class="fas fa-search icon_search"></i>
                        </button>
                        <ul id="search-suggestions" style="display:none;"></ul>
                    </form>
                </div>




                <a class="shopping-cart" href="@Url.Action("GetCartInfo", "Cart")">
                    <i class="fas fa-shopping-cart shopping-cart-item"></i>
                    <span id="shopping-cart-notice" class="shopping-cart-notice">0</span>
                </a>


            </div>
        </nav>
    </header>

    <div class="Home_div" style="height:auto">
        @RenderBody()
    </div>



    <footer>
        <div class="top-footer">
            <div class="register-introduce">
                <i class="far fa-envelope envelope-icon"></i>
                <h3>ĐĂNG KÝ NHẬN CODE</h3>
            </div>

            <div class="email-register">
                <div class="email-register-box">
                    <input type="text" class="email-register-input" placeholder="Địa chỉ email của bạn">
                    <button class="email-register-btn">
                        <a class="email-register-btn-in" href="@Url.Action("Register", "LoginRegistration")">
                            Đăng Ký
                        </a>
                    </button>
                </div>
            </div>

            <div class="register-ads">
                <p class="register-ads-text">...Nhận ngay</p>
                <span class="voucher-name">VOUCHER 100k</span>
                <p class="register-ads-text">từ chúng tôi.</p>
            </div>
        </div>

        <div class="end-footer">
            <div class="footer-logo">
                <a class="footer-logo-img" href="">
                    <img src="~/assets/img/footer-logo.png" alt="KingShoes Logo">
                </a>

                <div class="icons">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>

            <div class="footer-content">
                <h4>THÔNG TIN LIÊN HỆ</h4>
                <li>KINGSHOES.VN Trang Thông Tin Chính Thức.</li>
                <li>Địa chỉ: 192/2 Nguyễn Thái Bình, Phường 12, Quận Tân Bình, Thành phố Hồ Chí Minh</li>
                <li>Email : cskh.kingshoes.vn@gmail.com</li>
                <li><a href="">https://kingshoes.vn/</a></li>
                <li><a href="">https://twitter.com/KingShoes_vn</a></li>
                <li><a href="">https://instagram.com/KingShoes.vn</a></li>
                <li><a href="">https://facebook.com/pg/www.KingShoes.vn</a></li>
                <li><a href="">https://www.youtube.com/www.KingShoes.vn</a></li>
                <li><a href="">http://bit.ly/KINGSHOES_map</a></li>
                <li><a href="">https://www.tiktok.com/kingshoes_sneaker</a></li>
            </div>

            <div class="footer-content">
                <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                <li><a href="">Chăm sóc khách hàng</a></li>
                <li><a href="">Thanh toán</a></li>
                <li><a href="">Hướng dẫn mua hàng</a></li>
            </div>

            <div class="footer-content">
                <h4>CHÍNH SÁCH</h4>
                <li><a href="">Chế độ bảo hành</a></li>
                <li><a href="">Chính sách đổi hàng</a></li>
                <li><a href="">Bảo mật thông tin</a></li>
                <li><a href="">Chính sách giao nhận</a></li>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JavaScript để cập nhật số lượng sản phẩm trong giỏ hàng -->
    <script>
    $(document).ready(function() {
        $.ajax({
            url: '@Url.Action("GetCartCount", "Cart")',
            type: 'GET',
            success: function(result) {
                $('#shopping-cart-notice').text(result);
            },
            error: function() {
                console.log('Không thể lấy số lượng giỏ hàng.');
            }
        });
    });
        $(document).ready(function() {
    $('#search-text').on('input', function() {
        var query = $(this).val();
        if (query.length > 2) {
            $.ajax({
                url: '@Url.Action("GetSearchSuggestions", "Product")', // Đảm bảo tên controller chính xác
                data: { term: query },
                type: 'GET',
                success: function(result) {
                    var suggestions = result.map(function(item) {
                        return '<li>' + item + '</li>';
                    }).join('');
                    $('#search-suggestions').html(suggestions).show();
                },
                error: function() {
                    console.log('Không thể lấy gợi ý tìm kiếm.');
                }
            });
        } else {
            $('#search-suggestions').hide();
        }
    });
});
    </script>

    <style>
        .search-input {
            background-color: rgb(233, 233, 233);
        }
    </style>
</body>
</html>
