@model DoAnCNPM.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    .row-product {
        display: flex;
        flex-wrap: wrap;
    }

    .col-five {
        flex: 0 0 20%;
        max-width: 20%;
        box-sizing: border-box; /* Đảm bảo rằng padding và border được tính vào tổng chiều rộng */
    }
</style>


<!-- Slide -->
<div class="Slide_dive">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/Slide1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/Slide2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/img/Slide3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Các thông tin chung -->
<div class="info_home_div">
    <div class="item_info_home">
        <img class="img_info_home" src="~/assets/img/Wallet.png" alt="">
        <div class="title_info_home">CAM KẾT CHÍNH HÃNG</div>
        <div class="E_title_info_home">100 % Authentic</div>
        <div class="decscription_info_home">Cam kết sản phẩm chính hãng từ Châu Âu, Châu Mỹ...</div>
    </div>

    <div class="item_info_home">
        <img class="img_info_home" src="~/assets/img/Truck.png" alt="">
        <div class="title_info_home">GIAO HÀNG HỎA TỐC</div>
        <div class="E_title_info_home">Express delivery</div>
        <div class="decscription_info_home">SHIP hỏa tốc 1h nhận hàng trong nội thành HCM</div>
    </div>

    <div class="item_info_home">
        <img class="img_info_home" src="~/assets/img/Phone.png" alt="">
        <div class="title_info_home">HỖ TRỢ 24/24</div>
        <div class="E_title_info_home">Supporting 24/24</div>
        <div class="decscription_info_home">Gọi ngay 0909300746</div>
    </div>
</div>


<!-- Side bar -->
<div class="Side_bar">
    <div class="side_bar_left"></div>
    <div class="body_cover">
        <div class="Product_sets">
            <section class="Name_background">PRODUCT</section>
            <h2 class="Name_sets">- Sản phẩm mới</h2>
        </div>
        <!-- Hàng sản phẩm -->
        <div class="row-product">
            <!-- Thẻ sản phẩm -->
            @foreach (var pro in Model.NikeProducts)
            {
                <div class="col-five mb-4">
                    <div class="product_card">
                        <div class="product_lable">
                            <span class="product_lable_text">New</span>
                        </div>

                        <div class="product_img_cover">
                            <a href="@Url.Action("Details", "NikeProduct", new { id = pro.ProductID })">
                                <img class="pro-img" src="@Url.Content(pro.ImageProduct)" />
                            </a>
                        </div>

                        <div class="shoes_content">
                            <a class="product_name_ancor" href="@Url.Action("Details", "NikeProduct", new { id = pro.ProductID })">
                                <div class="product_name_cover">
                                    <div class="product_name">@Html.DisplayFor(model => pro.ProductName)</div>
                                </div>
                            </a>

                            <div class="rating_div">
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                            </div>

                            <div class="product_price">@Html.DisplayFor(model => pro.Price)</div>
                        </div>
                    </div>
                </div>
            }
        </div>

        

        <div class="page_product_number_div">
            <ul class="page_product_number_ul">
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">1</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">2</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">3</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">4</a></li>
                <li class="page_product_number_item"><a class="number_item">></a></li>
                <li class="page_product_number_item"><a class="number_item">>></a></li>
            </ul>
        </div>

        <!-- Product sets hot -->
        <div class="Product_sets">
            <section class="Name_background">HOT</section>
            <h2 class="Name_sets">- Sản phẩm nổi bật</h2>
        </div>
        <!-- Hàng sản phẩm -->
        <div class="row-product">
            <!-- Thẻ sản phẩm -->
            @foreach (var pro in Model.AdidasProducts)
            {
                <div class="col-five mb-4">
                    <div class="product_card">
                        <div class="product_lable">
                            <span class="product_lable_text">New</span>
                        </div>

                        <div class="product_img_cover">
                            <a href="@Url.Action("Details", "AdidasProduct", new { id = pro.ProductID })">
                                <img class="pro-img" src="@Url.Content(pro.ImageProduct)" />
                            </a>
                        </div>

                        <div class="shoes_content">
                            <a class="product_name_ancor" href="@Url.Action("Details", "AdidasProduct", new { id = pro.ProductID })">
                                <div class="product_name_cover">
                                    <div class="product_name">@Html.DisplayFor(model => pro.ProductName)</div>
                                </div>
                            </a>

                            <div class="rating_div">
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                            </div>

                            <div class="product_price">@Html.DisplayFor(model => pro.Price)</div>
                        </div>
                    </div>
                </div>
            }
        </div>



        <div class="page_product_number_div">
            <ul class="page_product_number_ul">
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">1</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">2</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">3</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">4</a></li>
                <li class="page_product_number_item"><a class="number_item">></a></li>
                <li class="page_product_number_item"><a class="number_item">>></a></li>
            </ul>
        </div>


        <!-- Product khuyến mãi -->
        <div class="Product_sets">
            <section class="Name_background">DISCOUNT</section>
            <h2 class="Name_sets">- Sản phẩm khuyến mãi</h2>
        </div>
        <!-- Hàng sản phẩm -->
        <div class="row-product">
            <!-- Thẻ sản phẩm -->
            @foreach (var pro in Model.JordanProducts)
            {
                <div class="col-five mb-4">
                    <div class="product_card">
                        <div class="product_lable">
                            <span class="product_lable_text">New</span>
                        </div>

                        <div class="product_img_cover">
                            <a href="@Url.Action("Details", "JordanProduct", new { id = pro.ProductID })">
                                <img class="pro-img" src="@Url.Content(pro.ImageProduct)" />
                            </a>
                        </div>

                        <div class="shoes_content">
                            <a class="product_name_ancor" href="@Url.Action("Details", "JordanProduct", new { id = pro.ProductID })">
                                <div class="product_name_cover">
                                    <div class="product_name">@Html.DisplayFor(model => pro.ProductName)</div>
                                </div>
                            </a>

                            <div class="rating_div">
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                                <i><img class="img_rating" src="assets/img/star-solid.svg" alt=""></i>
                            </div>

                            <div class="product_price">@Html.DisplayFor(model => pro.Price)</div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="page_product_number_div">
            <ul class="page_product_number_ul">
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">1</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">2</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">3</a></li>
                <li class="page_product_number_item"><a onclick="buttonClicked(this)" class="number_item">4</a></li>
                <li class="page_product_number_item"><a class="number_item">></a></li>
                <li class="page_product_number_item"><a class="number_item">>></a></li>
            </ul>
        </div>
    </div>

    <div class="side_bar_right"></div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/home.js"></script>
</div>






